
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 100vh;
  background-color: #67d1de;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
}
.square {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square.yellow {
  background-color: #f6f979;
}
.square.green {
  background-color: #35c454;
}
.target {
  font-size: 20px;
  font-weight: bold;
}
